<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<title>U.S. Migration Report |By: Azzy, Kholiswa & Michael</title>
</head>

<body>
<div id="container">
		<div id="mainpic">
          <h1>U.S.<span class="lightblue">Migration Report</span></h1>
      
            <h2>By:Azzy, Kholiswa & Michael</h2>
        </div>   
        
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="/">Home</a></li>
                <li class="menuitem"><a href="/about">About</a></li>
            </ul>
        </div>
        
<div id="content">
           	<p>&nbsp;</p>
       	  <h3>About </h3>
        	<p>Americans, and people in general are constantly moving to new geographic regions, we thought it would be interesting to understand what those reasons might be.
            During our inital analysis, we first looked into census data that showed the total net migration at the state level, and we noticed interesting developments over 
            a 10 year span. Many people moving from the to and from the west, and from the north to the south. To understand what might affect those moves we decided
            to look into certain variables including:<p></p>
            <br>
            <p>Medican Income by state</p>
            <br>
            <P>Average home value by state</P>
            <br>
            <p>Unemployment rate by state</p>


          </p>
        	<p>&nbsp;</p>

        	<p></p>
        	<p>&nbsp;</p>
          <h3></h3>
          <hr>
          
   <br>
        <br>
   </div>
        <footer class="footer"> <span class="bottom">Data Sourced from U.S. Census ACS</span></footer>
      <br>
      <br>
      
      </div>
   </div>
</body>
</html>